<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 令牌信息 -->
    <bean id="top.cardone.authority.dao.TokenInfoDao"
          class="top.cardone.authority.dao.impl.TokenInfoDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/authority/tokenInfo/"/>
                        <entry key="pks" value="tokenInfoId"/>
                        <entry key="codes" value="tokenInfoId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="tokenInfoId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readCreatedByCodeFunc"/>
                        <entry key="createdDate" value="readCreatedDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readLastModifiedByCodeFunc"/>
                        <entry key="lastModifiedDate" value="readLastModifiedDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 令牌信息 -->
    <bean id="top.cardone.authority.service.TokenInfoService"
          class="top.cardone.authority.service.impl.TokenInfoServiceImpl">
        <property name="dao" ref="top.cardone.authority.dao.TokenInfoDao"/>
    </bean>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="remoteInvocationExecutorParnet">
                <property name="serviceInterface" value="top.cardone.authority.service.TokenInfoService"/>
                <property name="service" ref="top.cardone.authority.service.TokenInfoService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="cardone-authority-${cardone-authority-version}:top.cardone.authority.service.TokenInfoService"/>
            </bean>
        </property>
    </bean>
</beans>