<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="serviceBeanId" value="top.cardone.authority.service.UserGroupService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroupTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="serviceBeanId" value="top.cardone.authority.service.RoleService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="roleTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="serviceBeanId" value="top.cardone.authority.service.PermissionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="permissionTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="serviceBeanId" value="top.cardone.authority.service.UserGroupPermissionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean class="top.cardone.data.listener.GenerateListener">
        <property name="serviceBeanId" value="top.cardone.authority.service.RolePermissionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>
</beans>