<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 用户组与用户 -->
    <bean id="top.cardone.authority.dao.UserGroupUserDao"
          class="top.cardone.authority.dao.impl.UserGroupUserDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/authority/userGroupUser/"/>
                        <entry key="pks" value="userGroupUserId"/>
                        <entry key="codes" value="userGroupCode,userCode,endDate"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userGroupUserId" value="readRandomUUIDFunc"/>
                        <entry key="createdByCode" value="readPrincipalFunc"/>
                        <entry key="createdDate" value="readOneDateFunc"/>
                        <entry key="beginDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="lastModifiedByCode" value="readPrincipalFunc"/>
                        <entry key="lastModifiedDate" value="readOneDateFunc"/>
                        <entry key="endDate" value="endDateDefaultValueFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>
	
    <bean id="top.cardone.authority.service.UserGroupUserService"
          class="top.cardone.authority.service.impl.UserGroupUserServiceImpl">
		<property name="dao" ref="top.cardone.authority.dao.UserGroupUserDao"/>
	</bean>
</beans>