<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.UserGroupPermissionService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.UserGroupPermissionService"
                    key="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.UserGroupPermissionService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue
            name="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.UserGroupPermissionService"/>

    <bean id="top.cardone.authority.service.UserGroupPermissionServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.authority.service.UserGroupPermissionService"/>
        <property name="service" ref="top.cardone.authority.service.UserGroupPermissionService"/>
    </bean>

    <rabbit:listener-container acknowledge="none" concurrency="20" prefetch="5">
        <rabbit:listener ref="top.cardone.authority.service.UserGroupPermissionServiceExporter"
                         queue-names="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.UserGroupPermissionService"/>
    </rabbit:listener-container>
</beans>