<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <bean name="readListPermissionCodeFunc" class="top.cardone.context.func.MethodInvokerFunc1">
        <property name="targetBeanName" value="top.cardone.authority.service.UserPermissionService"/>
        <property name="targetMethod" value="readListPermissionCodeByUserCodeCache"/>
    </bean>

    <bean name="readListRoleCodeFunc" class="top.cardone.context.func.MethodInvokerFunc1">
        <property name="targetBeanName" value="top.cardone.authority.service.UserRoleService"/>
        <property name="targetMethod" value="readListRoleCodeByUserCodeCache"/>
    </bean>
</beans>