<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="top.cardone.authority.listener.UserGroupGenerateListener"
          class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.UserGroupService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.UserGroupService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroupTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean name="top.cardone.authority.listener.RoleListener" class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.RoleService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.RoleService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="roleTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean name="top.cardone.authority.listener.PermissionListener" class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.PermissionService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.PermissionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="permissionTree"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean name="top.cardone.authority.listener.UserGroupPermissionListener"
          class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.UserGroupPermissionService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.UserGroupPermissionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean name="top.cardone.authority.listener.UserGroupUserGenerateListener"
          class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.UserGroupUserService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.UserGroupUserService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean name="top.cardone.authority.listener.RolePermissionGenerateListener"
          class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.RolePermissionService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.RolePermissionService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>

    <bean name="top.cardone.authority.listener.UserRoleGenerateListener"
          class="top.cardone.data.listener.GenerateListener">
        <property name="skip" value="${GenerateListener.UserRoleService.skip:false}"/>
        <property name="serviceBeanId" value="top.cardone.authority.service.UserRoleService"/>
        <property name="saveList">
            <list>
                <map>
                    <entry key="variableCode" value="userGroup"/>
                    <entry key="value" value="yes"/>
                </map>
            </list>
        </property>
    </bean>
</beans>