<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">
    <rabbit:direct-exchange
            name="exchange:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.PermissionService">
        <rabbit:bindings>
            <rabbit:binding
                    queue="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.PermissionService"
                    key="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.PermissionService"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:queue exclusive="true"
            name="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.PermissionService"/>

    <bean id="top.cardone.authority.service.PermissionServiceExporter" parent="remoteInvocationExecutorParnet">
        <property name="serviceInterface" value="top.cardone.authority.service.PermissionService"/>
        <property name="service" ref="top.cardone.authority.service.PermissionService"/>
    </bean>

    <rabbit:listener-container acknowledge="none" concurrency="1" prefetch="20">
        <rabbit:listener ref="top.cardone.authority.service.PermissionServiceExporter"
                         queue-names="queue:cardone-authority-${cardone-authority-version}:top.cardone.authority.service.PermissionService"/>
    </rabbit:listener-container>
</beans>