<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 导航 -->
    <bean id="top.cardone.authority.dao.NavigationDao"
          class="top.cardone.authority.dao.impl.NavigationDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/authority/navigation/"/>
                        <entry key="pks" value="navigationId"/>
                        <entry key="codes" value="navigationId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="navigationId" value="getRandomUUIDFunc"/>
                        <entry key="creator" value="getLoginUserIdFunc"/>
                        <entry key="createDate" value="getNowDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="modifier" value="getLoginUserIdFunc"/>
                        <entry key="modifyDate" value="getNowDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 导航 -->
    <bean id="top.cardone.authority.service.NavigationService"
          class="top.cardone.authority.service.impl.NavigationServiceImpl">
        <property name="dao" ref="top.cardone.authority.dao.NavigationDao"/>
    </bean>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="exceptionParnet">
                <property name="serviceInterface" value="top.cardone.authority.service.NavigationService"/>
                <property name="service" ref="top.cardone.authority.service.NavigationService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="top.cardone.authority.service.NavigationService"/>
            </bean>
        </property>
    </bean>
</beans>