<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true">
    <!-- 用户组 -->
    <bean id="top.cardone.authority.dao.UserGroupDao"
          class="top.cardone.authority.dao.impl.UserGroupDaoImpl">
        <property name="configTable">
            <map>
                <entry key="config">
                    <map>
                        <entry key="sqlFileRoot" value="/cardone/authority/userGroup/"/>
                        <entry key="pks" value="userGroupId"/>
                        <entry key="codes" value="userGroupId"/>
                    </map>
                </entry>
                <entry key="insert">
                    <map>
                        <entry key="userGroupId" value="getRandomUUIDFunc"/>
                        <entry key="creator" value="getLoginUserIdFunc"/>
                        <entry key="createDate" value="getNowDateFunc"/>
                    </map>
                </entry>
                <entry key="update">
                    <map>
                        <entry key="modifier" value="getLoginUserIdFunc"/>
                        <entry key="modifyDate" value="getNowDateFunc"/>
                    </map>
                </entry>
            </map>
        </property>
    </bean>

    <!-- 用户组 -->
    <bean id="top.cardone.authority.service.UserGroupService"
          class="top.cardone.authority.service.impl.UserGroupServiceImpl">
        <property name="dao" ref="top.cardone.authority.dao.UserGroupDao"/>
    </bean>

    <bean parent="messageListenerContainerParnet">
        <property name="messageListener">
            <bean  parent="exceptionParnet">
                <property name="serviceInterface" value="top.cardone.authority.service.UserGroupService"/>
                <property name="service" ref="top.cardone.authority.service.UserGroupService"/>
            </bean>
        </property>
        <property name="destination">
            <bean class="org.apache.activemq.command.ActiveMQQueue">
                <constructor-arg value="top.cardone.authority.service.UserGroupService"/>
            </bean>
        </property>
    </bean>
</beans>